/* ##### reset ############### */
body {
	margin: 0;
	font: 12px sans-serif;
	background: #fff;
	}
a { text-decoration:none; color:inherit; }
a:hover { text-decoration:underline; }
a.fa:hover { text-decoration:none; }

/* ##### settings ############### */
#header.fixed {
	position: fixed;
	width: 100%;
	z-index: 1;
	}
#header.fixed ~ #body {
	padding-top: 50px;
	}
#header,
#body #playlists {
	background: #eee;
	}

/* header */
#header {
	height: 50px;
	box-shadow: 0 2px 2px rgba(0,0,0,.17);
	}
	#header .table {
		display: table;
		height: 100%;
		margin: auto;
		}
		#header .table > * {
			display: table-cell;
			vertical-align: middle;
			height: 100%;
			}
		#header .title > * {
			vertical-align: middle;
			}
		#header .title span {
			font-size: 20px;
			font-weight: bold;
			margin-right: .5em;
			}
		#header .title a[href*='youtube.com'] {
			font-size: 28px;
			color: #e62d27;
			}
		#header .title a[href*=github] {
			font-weight: bold;
			}
		#header .connection {
			text-align: right;
			}

/* body */
#body {
	margin: auto;
	}
#body #playlists {
	position: relative;
	border-radius: 2px;
	margin-top: 35px;
	}
#body #playlists:after {
	display: block;
	content: "";
	clear: both;
	}
#body #playlists:empty {
	padding: 50px 0;
	text-align: center;
	font-weight: bold;
	color: rgba(0,0,0,.2);
	text-shadow: 0 1px 0 #fff;
	}
#body #playlists:empty:before {
	display: block;
	content: "No playlist :(";
	font-size: 28px;
	}
#body #playlists:empty:after {
	display: block;
	content: "Click the \"Connection\" button to start !";
	}
	#body .playlist {
		float: left;
		margin: 10px 0 0 10px;
		padding: 5px;
		border-radius: 2px;
		background: #fff;
		}
	#body .playlist:last-child {
		margin-bottom: 10px;
		}
	#body .playlist.hover {
		box-shadow: 0 0 20px rgba(0,0,0,.2);
		}
		#body .playlist .header {
			display: table;
			width: 100%;
			height: 100%;
			color: #333;
			font-size: 14px;
			line-height: 14px;
			}
			#body .playlist .header > * {
				display: table-cell;
				height: 100%;
				vertical-align: top; /* fx */
				}
			#body .playlist .header .relative {
				position: relative;
				}
				#body .playlist .header .absolute {
					position: absolute;
					width: 100%;
					overflow: hidden;
					text-overflow: ellipsis;
					padding-bottom: .3em;
					}
					#body .playlist .header .absolute a {
						font-weight: bold;
						white-space: nowrap;
						}
					#body .playlist .header .absolute a:empty:after {
						content: "New playlist";
						font-style: italic;
						}
			#body .playlist .header .edit {
				width: 1px;
				}
				#body .playlist .header .edit a {
					display: inline-block;
					width: 0px;
					overflow: hidden;
					-webkit-transition: width .1s ease-in;
					   -moz-transition: width .1s ease-in;
					    -ms-transition: width .1s ease-in;
					}
				#body .playlist      .header:hover .edit a,
				#body .playlist.edit .header       .edit a {
					width: 1em;
					}
			#body .playlist .header em:before { content: "("; }
			#body .playlist .header em:after  { content: ")"; }
			#body .playlist .header em {
				width: 1px;
				padding-left: .3em;
				font-style: normal;
				font-size: 12px;
				opacity: .5;
				}
		#body .playlist .body {
			position: relative;
			width: 275px; /* 4*64=256 + 19 */
			height: 180px; /* 5 * 36 */
			overflow: hidden;
			}
			#body .playlist .body > * {
				position: absolute;
				width: 100%;
				height: 100%;
				}
			#body .playlist .body .bg {
				background-size: cover;
				background-position: center;
				}
			#body .playlist .body .jqdnd-drop {
				overflow-y: scroll;
				background: rgba(255,255,255,.8);
				}
				#body .playlist.hover .body .jqdnd-drop {
					background: rgba(255,255,255,.92);
					}
			#body .playlist .body form {
				opacity: 0;
				bottom: 100%;
				background: rgba(255,255,255,.95);
				-webkit-transition: all .25s ease-out;
				   -moz-transition: all .25s ease-out;
				    -ms-transition: all .25s ease-out;
				}
				#body .playlist.edit .body form {
					bottom: 0%;
					opacity: 1;
					}

.jqdnd-drag,
.jqdnd-dragHole {
	height: 36px;
	}
.jqdnd-drag {
	width: 64px;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
	}

/* ##### responsive ############### */
@media (min-width: 1190px) { #header .table, #body { width: 1190px; } }
@media (max-width: 1190px) { #header .table, #body { width:  895px; } }
@media (max-width:  895px) { #header .table, #body { width:  600px; } }
@media (max-width:  600px) { #header .table, #body { width:  305px; }
	#header .title span { font-size: inherit; }
	#header .title a[href*='youtube.com'] { width: 45px; }
}
