#playlists {
	position: relative;
	box-sizing: border-box;
	margin-left: 62px;
	padding-top: 15px;
	height: 100%;
	overflow: auto;
	}
	#playlists:after {
		display: block;
		content: "";
		clear: both;
		}
	#playlists:empty {
		padding: 50px 0;
		text-align: center;
		font-weight: bold;
		color: rgba(0,0,0,.2);
		text-shadow: 0 1px 0 #fff;
		}
		#playlists .placeholder {
			position: absolute;
			width: 100%;
			top: 50%;
			margin-top: -100px;
			text-align: center;
			font-size: 18px;
			}
			#playlists .placeholder b {
				font-size: 64px;
				}
			#playlists .placeholder span {
				display: inline-block;
				margin-top: 1em;
				}
			#playlists .placeholder .waiting {
				display: none;
				font-size: 100px;
				}
			#playlists.waiting .placeholder .waiting {
				display: block;
				}
			#playlists.waiting .placeholder .no-playlist {
				display: none;
				}
		#playlists .playlist {
			float: left;
			margin: 0 0 15px 15px;
			padding: 5px;
			color: #ddd;
			border-radius: 2px;
			background: #333;
			}
			#playlists .playlist.hover {
				box-shadow: 0 0 20px #000;
				background: #444;
				}
			#playlists .playlist .header {
				display: table;
				width: 100%;
				height: 100%;
				font-size: 14px;
				line-height: 14px;
				}
				#playlists .playlist .header > * {
					display: table-cell;
					height: 100%;
					vertical-align: top; /* fx */
					}
				#playlists .playlist .header .relative {
					position: relative;
					}
					#playlists .playlist .header .absolute {
						position: absolute;
						width: 100%;
						overflow: hidden;
						text-overflow: ellipsis;
						padding-bottom: .3em;
						}
						#playlists .playlist .header .absolute a {
							font-weight: bold;
							white-space: nowrap;
							}
							#playlists .playlist .header .absolute a:empty:after {
								content: "New playlist";
								font-style: italic;
								}
				#playlists .playlist .header .edit {
					width: 1px;
					}
					#playlists .playlist .header .edit a {
						display: inline-block;
						width: 0px;
						overflow: hidden;
						-webkit-transition: width .1s ease-in;
						   -moz-transition: width .1s ease-in;
						    -ms-transition: width .1s ease-in;
						}
						#playlists .playlist      .header:hover .edit a,
						#playlists .playlist.edit .header       .edit a {
							width: 1em;
							}
				#playlists .playlist .header em {
					width: 1px;
					padding-left: .3em;
					font-style: normal;
					font-size: 12px;
					opacity: .5;
					}
					#playlists .playlist .header em:before { content: "("; }
					#playlists .playlist .header em:after  { content: ")"; }
			#playlists .playlist .body {
				position: relative;
				width: 275px; /* 4*64=256 + 19 */
				height: 192px; /* 4*48 */
				overflow: hidden;
				}
				#playlists .playlist .body > * {
					position: absolute;
					width: 100%;
					height: 100%;
					}
				#playlists .playlist .body .bg {
					background-size: cover;
					background-position: center;
					}
				#playlists .playlist .body .jqdnd-drop {
					overflow-y: scroll;
					background: rgba(0,0,0,.9);
					}
				#playlists .playlist .body .waiting {
					display: none;
					width: auto;
					height: auto;
					left: 50%;
					top: 50%;
					margin: -.5em 0 0 -.5em;
					font-size: 100px;
					opacity: .2;
					}
					#playlists .playlist.waiting .body .waiting {
						display: block;
						}
				#playlists .playlist .body form {
					opacity: 0;
					bottom: 100%;
					background: rgba(0,0,0,.9);
					-webkit-transition: all .25s ease-out;
					   -moz-transition: all .25s ease-out;
					    -ms-transition: all .25s ease-out;
					}
					#playlists .playlist.edit .body form {
						bottom: 0%;
						opacity: 1;
						}

.jqdnd-drag,
.jqdnd-dragHole {
	height: 48px;
	}
.jqdnd-drag {
	width: 64px;
	background: no-repeat left center;
	background-size: cover;
	cursor: pointer;
	}
