.channel {
	position: relative;
	height: 100%;
	}
	.channel .playlists {
		height: 100%;
		overflow: auto;
		opacity: 1;
		-webkit-transition: opacity .2s linear;
		   -moz-transition: opacity .2s linear;
		    -ms-transition: opacity .2s linear;
		}
		.channel .playlists > i.waiting {
			display: none;
			position: absolute;
			left: 50%;
			top: 50%;
			margin: -.5em 0 0 -.5em;
			width: 1em;
			height: 1em;
			font-size: 160px;
			text-align: center;
			opacity: .2;
			}
			.channel .playlists.waiting > i.waiting {
				display: block;
				}
		.channel .playlists:after {
			display: block;
			content: "";
			clear: both;
			height: 50px;
			}
		.channel.diff .playlists {
			opacity: .05;
			}
.channel .diff {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all .2s linear;
	   -moz-transition: all .2s linear;
	    -ms-transition: all .2s linear;
	}
	.channel.diff .diff {
		visibility: visible;
		opacity: 1;
		}
	.channel .diff .menu {
		position: absolute;
		z-index: 1;
		right: 25px;
		top: 7px;
		font-size: 32px;
		}
		.channel .diff .menu a {
			display: block;
			}
		.channel .diff .menu a:first-child {
			margin-bottom: .8em;
			}
	.channel .diff .list {
		height: 100%;
		overflow: auto;
		}
		.channel .diff .list:empty:before {
			position: absolute;
			width: 100%;
			top: 50%;
			margin-top: -.5em;
			content: "Nothing to save...";
			text-align: center;
			font-size: 56px;
			font-weight: bold;
			font-style: italic;
			color: #000;
			opacity: .4;
			}
		.channel .diff .list > * {
			padding: 20px 0 0 20px;
			}
			.channel .diff .list > *:last-child {
				padding-bottom: 20px;
				}
			.channel .diff .title {
				font-weight: bold;
				font-size: 16px;
				color: #ddd;
				}
				.channel .diff .new:before {
					content: "\f178"; /* fa-long-arrow-right */
					margin: 0 1em;
					font: normal 1em "FontAwesome";
					opacity: .7;
					}
			.channel .diff .privacy {
				margin-top: .2em;
				font-size: 16px;
				}
			.channel .diff .videos {
				margin: .5em 0 0 1em;
				}
				.channel .diff .videos .up   { color: rgb(150,200,150); }
				.channel .diff .videos .down { color: rgb(200,150,150); }
				.channel .diff .videos .add  { color: rgb( 60,200, 60); }
				.channel .diff .videos .del  { color: rgb(200, 60, 60); }
				.channel .diff .videos > *:before {
					font-family: "FontAwesome";
					vertical-align: middle;
				}
				.channel .diff .videos .up:before   { content: "\f0aa"; /* fa-arrow-circle-up */ }
				.channel .diff .videos .down:before { content: "\f0ab"; /* fa-arrow-circle-down */ }
				.channel .diff .videos .add:before  { content: "\f055"; /* fa-plus-square */ }
				.channel .diff .videos .del:before  { content: "\f056"; /* fa-minus-square */ }
				.channel .diff .videos > * > * {
					vertical-align: middle;
					}
				.channel .diff .videos img {
					height: 25px;
					margin: 0 .5em;
					}
				.channel .diff .videos .name {
					font: bold 12px sans-serif;
					}
