.jqselection-selectable {
	width: 64px;
	cursor: pointer;
	background: no-repeat center;
	background-size: 100%;
	-webkit-transition: background-size .2s ease;
	   -moz-transition: background-size .2s ease;
	    -ms-transition: background-size .2s ease;
	}
.jqselection-selectable,
.jqdragndrop-hole {
	height: 48px;
	}
	.jqselection-selectableHoverL { background-position: -6px; }
	.jqselection-selectableHoverR { background-position: 32px; }
.jqselection-selected {
	background-size: 150%;
	}
