.playlist {
	float: left;
	margin: 15px 0 0 15px;
	padding: 5px;
	color: #ddd;
	border-radius: 2px;
	background: #444;
	}
	.playlist.hover {
		box-shadow: 0 0 20px #000;
		background: #555;
		}
	.playlist .header {
		font-size: 14px;
		line-height: 14px;
		}
		.playlist .header > * {
			vertical-align: top;
			width: 1px;
			}
		.playlist .header .privacy {
			cursor: pointer;
			}
			.playlist .header .privacy * {
				width: 16px;
				}
			.playlist .header .privacy[value="public"]   [value*="C"],
			.playlist .header .privacy[value="private"]  [value*="B"],
			.playlist .header .privacy[value="unlisted"] [value*="A"] {
				display: none;
				}
			.playlist .header .privacy [value="AB"] {
				color: rgba(0,0,0,.6);
				}
		.playlist .header > a {
			padding-right: .25em;
			}
		.playlist .header .name {
			width: auto;
			}
			.playlist .header .name input {
				width: 100%;
				margin-top: -2px;
				font-weight: bold;
				}
				.channel.mine .playlist .header .name input:focus {
					background: #ddd;
					color: #444;
					}
		.playlist .header .count {
			width: 1px;
			padding-left: .3em;
			font-size: 12px;
			opacity: .5;
			}
			.playlist .header .count:before { content: "("; }
			.playlist .header .count:after  { content: ")"; }
	.playlist .body {
		position: relative;
		width: 275px; /* 4*64=256 + 19 */
		height: 192px; /* 4*48 */
		overflow: hidden;
		}
		.playlist .body > * {
			position: absolute;
			width: 100%;
			height: 100%;
			}
		.playlist .body .bg {
			background-size: cover;
			background-position: center;
			}
		.playlist .body .jqdragndrop-drop {
			margin: 0 !important; /* besoin de nettoyer jquery-dragndrop.css */
			border-radius: 0 !important; /* besoin de nettoyer jquery-dragndrop.css */
			overflow-y: scroll;
			background: rgba(0,0,0,.9);
			}
		.playlist .body .waiting {
			display: none;
			width: auto;
			height: auto;
			left: 50%;
			top: 50%;
			margin: -.5em 0 0 -.5em;
			font-size: 100px;
			opacity: .2;
			}
			.playlist.waiting .body .waiting {
				display: block;
				}
		.playlist .body form {
			opacity: 0;
			bottom: 100%;
			background: rgba(0,0,0,.9);
			-webkit-transition: all .25s ease-out;
			   -moz-transition: all .25s ease-out;
			    -ms-transition: all .25s ease-out;
			}
			.playlist.edit .body form {
				bottom: 0%;
				opacity: 1;
				}
