html, body {
	height: 100%;
	}
body {
	margin: 0;
	font: 12px sans-serif;
	color: #666;
	}

::-webkit-scrollbar { width: 16px; }
::-webkit-scrollbar-track { background: #111; }
::-webkit-scrollbar-thumb { background: #333; }
::-webkit-scrollbar-thumb:hover { background: #555; }

a { text-decoration:none; color:inherit; }
	a:hover { text-decoration:underline; }
	a.fa:hover { text-decoration:none; }

q {
	font-style: italic;
	}
	q:before, q:after {
		font-style: normal;
		}
	q:before { content: '«\A0'; }
	q:after  { content: '\A0»'; }

.placeholder {
	display: none;
	}
	.placeholder:only-child {
		display: block;
		}

.table {
	display: table;
	width: 100%;
	}
	.table > * {
		display: table-cell;
		height: 100%;
		vertical-align: middle;
		}
.relative {
	position: relative;
	}

input.span {
	color: inherit;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: none;
	}
